<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATABASE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <h1>DATABASE OF WHATSAPP</h1>
 <% for(chat of chat){ %>
 <div class="data">
   <div class="id">
      <h3> Id : <%= chat.id %></h3>

    </div>
    <div class="from">
       <h3>  From : <%=chat.from %> </h3>
    </div>
    <div class="to">
        <h3> To : <%= chat.to %></h3>

    </div>
    <div class="date">
       <h3> Date : <%= chat.date %></h3>

    </div>
    <div class="msg">
       <h3>  Message : <%=chat.message%></h3>
    </div>
    <form action="http://localhost:9090/chat/<%=chat.id%>/EDIT">
      <button type="submit" style="display: block; padding: 10px 10px 10px 10px; border-radius: 10px; background-color: azure;
      margin-bottom: 5px;">EDIT</button>
    </form>
    <form method="post" action="http://localhost:9090/chat/<%=chat.id%>/delete?_method=DELETE">
      <button type="submit" style="display: block; padding: 10px 10px 10px 10px; border-radius: 10px; background-color: azure;">DELETE</button>
    </form>
    </div>
    <% } %>
</body>
</html>
