<%layout("/listings/boilerplate")%>
<body>
    <div class="row">
    <div class="col-8 offset-3"><h3>Listing Details</h3></div>
    <div class="card col-5 offset-3">
    <img src="<%=A.image.url%>" class="card-img-top" alt="Listing Image">
    <div class="card-body">
    <p class="card-text"><b><%=A.title%></b><br>
    <b><%=A.description%></b><br>
    <b>&#8377;<%= A.price.toLocaleString("en-IN")%></b><br>
    <b><%=A.location%></b><br>
    <b><%= A.country %></b></p>
    <a class="btn btn-danger" href="/show/edit/<%=A.id%>" role="button">Edit</a>
    <form style="display: inline;" method="post" action="/show/delete/<%=A.id%>?_method=delete">
    <button class="btn btn-dark" type="submit">Delete</button>
    </form>
    </div>
    </div>
</div>
</body>
</html>